<%= content_for :content do %>
  <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => 'form-signin' }) do |f| %>

    <% if flash[:alert].present? %>
      <p class="flash_alert"><%= flash[:alert] %>
    <% end %>

    <% if flash[:notice].present? %>
      <p class="flash_alert"><%= flash[:notice] %>
    <% end %>

    <h2 class="form-signin-heading">Alterar senha</h2>
    <%= f.input :reset_password_token, :as => :hidden %>
    <%= f.full_error :reset_password_token %>

    <%= f.input :password,
      :required => false,
      :label => false,
      :placeholder=> 'Senha',
      :input_html => { :class => 'input-block-level' } %>

    <%= f.input :password_confirmation,
      :required => false,
      :label => false,
      :placeholder => "Confirme sua nova senha",
      :required => false,
      :input_html => { :class => 'input-block-level' } %>

    <hr>

    <div class="actions">
      <%= f.button :submit, 'Alterar', :class => 'btn btn-large btn-primary' %>
      <%= render :partial => "devise/shared/links" %>
    </div>
  <% end %>

<% end %>
