<%= content_for :content do %>
  <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'form-signin' }) do |f| %>

    <% if flash[:alert].present? %>
      <p class="flash_alert"><%= flash[:alert] %>
    <% end %>

    <h2 class="form-signin-heading">Recuperar senha</h2>
    <%= f.input :email,
      :required => false,
      :label => false,
      :autofocus => true,
      :placeholder=> 'E-mail',
      :input_html => { :class => 'input-block-level' } %>

    <hr>

    <div class="actions">
      <%= f.button :submit, 'Enviar instruções', :class => 'btn btn-large btn-primary' %>
      <%= render :partial => "devise/shared/links" %>
    </div>
  <% end %>

<% end %>
