<%= content_for :subnav do %>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li class="<%= (request.path == course_path(@course)) ? 'active' : '' %>">
        <%= link_to 'Página inicial', @course %>
      </li>
      <li class="<%= (request.path == course_files_path(@course)) ? 'active' : '' %>">
        <%= link_to 'Arquivos', course_files_path(@course) %>
      </li>
      <li class="<%= (request.path == course_professors_path(@course)) ? 'active' : '' %>">
        <%= link_to 'Professores', course_professors_path(@course) %>
      </li>
    </ul>
  </div>
<% end %>