<%= render partial: 'course_menu' %>

<% @course.professors.each do |professor| %>
  <div class="professor">
    <div class="info">
      <p><%= image_tag professor.photo.url(:facebook_share), width: '200', height: '200' %></p>
      <ul class="social">
        <% if professor.linkedin %>
          <li class="linkedin_item">
            <%= link_to 'LinkedIn', professor.linkedin, rel: 'tooltip', title: 'LinkedIn' %>
          </li>
        <% end %>

        <% if professor.lattes %>
          <li class="lattes_item">
            <%= link_to 'Lattes', professor.lattes, rel: 'tooltip', title: 'Lattes' %>
          </li>
        <% end %>
        
        <% if professor.dropbox %>
          <li class="dropbox_item">
            <%= link_to 'Dropbox', professor.dropbox, rel: 'tooltip', title: 'Dropbox' %>
          </li>
        <% end %>

      </ul>
    </div>
    <div class="description">
      <h3><%= professor.name %></h3>
      <p class="description"><%= professor.curriculum %></p>
    </div>
    <div class="clear"></div>
  </div>
<% end %>
