<%= content_for :subnav do %>
  <div class="row"></div>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><%= link_to 'Teste', '#' %></li>
      <li><%= link_to 'Teste', '#' %></li>
      <li><%= link_to 'Teste', '#' %></li>
      <li><%= link_to 'Teste', '#' %></li>
      <li><%= link_to 'Teste', '#' %></li>
    </ul>
  </div>
<% end %>

<h2><%= @course.name %></h2>
<p><%= @course.description %></p>
