<%= content_for :content do %>

  <h1><%= @contact.title %></h1>

  <%= content_tag(:div, notice, class: 'alert alert-success') if notice %>

  <div class="contact_content">
    <%= @contact.content.html_safe %>
  </div>

  <div class="main well">
    <%= simple_form_for(@contact_form, url: send_contact_path, html: { class: 'form-horizontal' }) do |f| %>
        <%= f.input :name, required: false, input_html: { class: 'input-xxlarge'} %>
        <%= f.input :email, required: false, input_html: { class: 'input-xxlarge'} %>
        <%= f.input :message, as: :text, required: false, input_html: { class: 'input-xxlarge', rows: '10'} %>

        <div class="control-group">
          <div class="controls">
            <%= f.button :submit, 'Enviar mensagem', class: 'btn' %>
          </div>
        </div>
    <% end %>
  </div>
<% end %>

