<%= content_for :content do %>

  <div class="header">
    <div class="jumbotron">
      <img src="/assets/logo.png"></img>
      <h1>LCMAT</h1>
      <p class="lead">Laboratório de Ciências Matemáticas da UENF</p>
    </div>
    <hr>
  </div>

  <% if @home.present? %>
    <div class="home_content">
      <%= @home.content.html_safe %>
    </div>
  <% end %>

  <% if @informatives.any? %>
    <hr>
    <h4 class="latest_informatives">Últimos informativos</h4>
    <div class="row-fluid">
      <div class="span6">
        <% [0, 2, 4].each do |i| %>
          <% informative = @informatives[i] %>
          <% if informative.present? %>
            <div class="informative_header">
              <div class="date">
                <p>
                  <span class="year"><%= informative.updated_at.year %></span>
                  <span class="month"><%= localize informative.updated_at, :format => '%b' %></span>
                  <span class="day"><%= informative.updated_at.day %></span>
                </p>
              </div>

              <div class="title">
                <h5><a href="<%= informative_path(informative) %>"><%= informative.title %> <i class="icon-share-alt"></i></a></h5>
                <p class="hour"><%= informative.updated_at.strftime('%H:%M') %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="span6">
        <% [1, 3, 5].each do |i| %>
          <% informative = @informatives[i] %>
          <% if informative.present? %>
            <div class="informative_header">
              <div class="date">
                <p>
                  <span class="year"><%= informative.updated_at.year %></span>
                  <span class="month"><%= localize informative.updated_at, :format => '%b' %></span>
                  <span class="day"><%= informative.updated_at.day %></span>
                </p>
              </div>

              <div class="title">
                <h5><a href="<%= informative_path(informative) %>"><%= informative.title %> <i class="icon-share-alt"></i></a></h5>
                <p class="hour"><%= informative.updated_at.strftime('%H:%M') %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <%= link_to 'Mais informativos', informatives_path, class: 'more_informatives' %>
    </div>
  <% end %>
<% end %>
